<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">
        <div class="jumbotron">
            <h1>Select your favorite Place<i class="fas fa-umbrella-beach"></i></h1>
            <h2>And organize everything!</h2>
        </div>
        <ul class="list-group">
            <% results.forEach(function(place) { %>
            <a href="/place?name=<%= place.name %>&id=<%=place.place_id%>&lat=<%=place.geometry.location.lat%>&lng=<%=place.geometry.location.lng%>"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= place.name %></h5>
                      (<%= place.geometry.location.lat %>,<%= place.geometry.location.lng %>)
                      <small>Rating <%= place.rating %></small>
                    </div>
                    <p class="mb-1"><%= place.formatted_address %></p>
            </a>
            <% }); %>
        </ul>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>